<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996048124214-hqm5gp0ktrepc24a1fd3r911s31orfro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996048124214-hqm5gp0ktrepc24a1fd3r911s31orfro</string>
	<key>API_KEY</key>
	<string>AIzaSyCOa0ApZAmcs9jaG4YzJE42VygKjKwpWOg</string>
	<key>GCM_SENDER_ID</key>
	<string>996048124214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.datingAppClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tander-dating</string>
	<key>STORAGE_BUCKET</key>
	<string>tander-dating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996048124214:ios:9bf27057acf0d75eeb9b97</string>
</dict>
</plist>